header {  /* cabeçalho */
    background-color: #333; /* cor de fundo */
    color: white; /* define a cor */
    padding:500px; /* espaço em torno de um elemento em todos os lados */
    text-align: center; /* alinhamento na horizontal */
}

body {   /* conteudo visivel de uma pagina  */
     font-family: Arial, sans-serif; /* fontes do texto */
     margin: 0px auto; 
     background-color: white; 
}


 
nav {  /* links de navegação */
    background-color: #444;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a { 
    color: white;
    text-decoration: none; /* define um riscado ou sublinhado */
    padding: 10px 20px; 
    margin: 0 20px; /* tamanho de todas as margens */
    border-radius: 5px;
}

nav a :hover {
    background-color: #555;
}

main { /* conteudo principal */
   /* display: flex; */
   /* flex-direction: row; /* direção em que os elementos serão exibidos */
   /* justify-content: space-between; /* justificar um texto */
    margin: auto;
  /*  width: 80%; */
    background-color: #e74c3c;
}

.imagem-esquerda{
    float: left;
}

#secao {
    background-color: white;
    padding: 20px;  
    border-radius: 8px; /* arredondamento das bordas */
    width: 70%; 
    margin: auto;
}

footer {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;   
    margin-top: 20px; 
}


.voltar{
    background-color: #555;
    color: white;
    text-decoration: none;
    margin-top: 20px; /* tamanho da margem superior */
    clear: both;
    
}

.texto-laranja {
    color: #e74c3c; 
    font-weight: bold; 
}

.texto-azul {
     color: #3498db; 
}

.texto-verde {
    display: inline-block; /* exebição visual da pagina */
    padding: 10px;  
    margin-top: 10px; 
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
} 
